{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'tests_app/css/style.css' %}">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <h2>Project SAT</h2>
        <nav>
            <a href="#">Dashboard</a>
            <a href="#">Students</a>
            <a href="#">Teachers</a>
            <a href="#">Tests</a>
            <a href="#">Results</a>
            <a href="#">Settings</a>
        </nav>
    </aside>

    <main class="content">
        <header>
            <h1>Welcome to Project SAT lol XD</h1>
        </header>
        <section>
            <p>main page for checking Feruzbek!! xexexe</p>
        </section>
    </main>
</div>
</body>
</html>
